* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e5e5e5;
}
#container_cabecalho {
  height: 100px;
  width: 100%;
  background-color: #ce46f0f6;
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  align-items: center;
}
.itens {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links_portifolio,
.itens {
  color: whitesmoke;
  font-size: 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#container_apresentacao {
  background-color: #edeaea;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#imagem {
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 50px;
}
#nome_pessoal {
  font-size: 40px;
  color: #ff4dbc;
  justify-content: center;
  display: flex;
}
#profissao {
  font-size: 30px;
  color: #a09c9c;
  justify-content: center;
  display: flex;
  margin-top: 3px;
}
#descricao {
  font-size: 20px;
  flex-wrap: wrap;
  width: 800px;
  text-indent: 50px;
  letter-spacing: 2px;
  text-align: justify;
  margin-top: 30px;
  padding-bottom: 100px;
}

.email {
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding-left: 15px;
}

#contato {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 30px;
}

#container_formacao {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.titulo_formacao {
  font-size: 25px;
  color: #a09c9c;
  font-weight: bold;
  color: #591969;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
}

.sessao > p {
  font-size: 20px;
  width: 500px;
  margin-top: 9px;
}

.formacao {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  color: #ff4dbc;
  font-size: 25px;
}

.links {
  color: #ff4dbc;
  font-size: 18px;
}

.sessao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}
#container_projetos {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  background-color: #edeaea;
}
.sessao2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 70px;
}
.sessao2 > p {
  font-size: 20px;
  width: 500px;
  margin-top: 9px;
}
.formacao2 {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  color: #ff4dbc;
  font-size: 35px;
  padding-right: 15px;
}

.itens a:hover {
  color: #591969;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
}

.imagem {
  width: 200px;
  height: 200px;
}

.rodape_img {
  width: 30px;
  height: 30px;
}

footer {
  background-color: #ce46f0f6;
  height: 190px;
}

#contato {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-bottom: 5px;
}
.links2 {
  font-size: 22px;
  text-decoration: none;
  color: white;
  position: relative;
  left: 30px;
}

.final a:hover {
  color: #591969;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
}
